
body, html {

    height: 100%;
    margin: 0%;
    background-image: url("./images/blackbg.png");
    background-size: cover; 
  
  }
    .background {
    background-image: url("./images/blackbg.png");
    background-size: cover; 
  }
  
  
  .fullpage {
    /* The image used */
    background-image: url("./images/brickwallbg.png");
    
    /* Full height */
    height: 100%;
   /*Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    /*border: 30px green solid;*/

  }


.row {
    height: 100%;  /* This makes sure the row takes the full height of .fullpage */
}


/*Button Main Page*/
 
 

/* CSS for larger screens */
/* For small devices (phones, 600px and below) */
@media (max-width: 576px) {
  .btn.btn-danger {
    position: absolute;
    top: 70%;
    left: 42%;
    transform: translate(-50%, -50%); /* centers the button */

    width: 50%;

  }
}

/* For medium devices (tablets, 600px and up) */
@media (min-width: 576px) {
  .btn.btn-danger {
    position: absolute;
    top: 73%;
    left: 85%;
    transform: translate(-50%, -50%); /* centers the button */

    width: 50%;
  }
}

/* For large devices (laptops/desktops, 992px and up) */
@media (min-width: 992px) {
  .btn.btn-danger {
    position: absolute;
    top: 75%;
    left: 90%;
    transform: translate(-50%, -50%); /* centers the button */

    width: 50%;
  }
}

/* For extra large devices (large laptops and desktops, 1200px and up) */
@media (min-width: 1200px) {
  .btn.btn-danger {
    position: absolute;
    top: 78%;
    left: 85%;
    transform: translate(-50%, -50%); /* centers the button */

    width: 50%;
  }
}

/* For extra large devices (large laptops and desktops, 1200px and up) */
@media (min-width: 1668px) {
  .btn.btn-danger {
    position: absolute;
    top: 83%;
    left: 90%;
    transform: translate(-50%, -50%); /* centers the button */

    width: 50%;
  }
}

/* For extra large devices (large laptops and desktops, 1200px and up) */
@media (min-width: 2096) {
  .btn.btn-danger {
    position: absolute;
    top: 110%;
    left: 90%;
    transform: translate(-50%, -50%); /* centers the button */

    width: 50%;

  }
}


  
/*Carousel*/
.col-sm-6.carousel  {  
    border: 3px red solid;
   
}

.col-sm-6.fullp {
    color: red;
    font-size: 3em;
    /*border: 3px rgb(8, 0, 246) solid;*/
  
}


  /* Slide in text */
  .slide-in-text {
    color: blue;
    font-size: 3em;
    animation: slide-in 2s forwards;
    opacity: 0;
}

.slide-in-image {
    animation: slide-in 2s forwards;
    opacity: 0;
}

@keyframes slide-in {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

  
 
  
  
   