
body, html {

    height: 100%;
    margin: 0%;
    background-image: url("./images/blackbg.png");
    background-size: cover; 
    
  
  }
    .background {
    background-image: url("./images/blackbg.png");
    background-size: cover; 
  }
  
  
  .fullpage {
    /* The image used */
    background-image: url("./images/brickwallbg.png");
    
    /* Full height */
    height: 100%;
   /*Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

.row {
    height: 100%;  /* This makes sure the row takes the full height of .fullpage */
}


.typing-button {
  font-size: 20px;
  overflow: hidden;
  white-space: nowrap;
  animation: typing 3s steps(20, end);
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 30%;
  }
}



/* CSS for larger screens */
/* For small devices (phones, 600px and below) */
@media (max-width: 576px) {
  .btn.btn-danger {
    position: absolute;
    top: 70%;
    left: 42%;
    transform: translate(-50%, -50%); /* centers the button */
    font-size: 20px;
    width: 50%;

  }
}

/* For medium devices (tablets, 600px and up) */
@media (min-width: 576px) {
  .btn.btn-danger {
    position: absolute;
    top: 73%;
    left: 85%;
    transform: translate(-50%, -50%); /* centers the button */
    font-size: 20px;
    width: 50%;
  }
}

/* For large devices (laptops/desktops, 992px and up) */
@media (min-width: 992px) {
  .btn.btn-danger {
    position: absolute;
    top: 75%;
    left: 90%;
    transform: translate(-50%, -50%); /* centers the button */
    font-size: 20px;
    width: 50%;
  }
}

/* For extra large devices (large laptops and desktops, 1200px and up) */
@media (min-width: 1200px) {
  .btn.btn-danger {
    position: absolute;
    top: 78%;
    left: 85%;
    transform: translate(-50%, -50%); /* centers the button */
    font-size: 20px;
    width: 50%;
  }
}

/* For extra large devices (large laptops and desktops, 1200px and up) */
@media (min-width: 1668px) {
  .btn.btn-danger {
    position: absolute;
    top: 83%;
    left: 90%;
    transform: translate(-50%, -50%); /* centers the button */
    font-size: 20px;
    width: 50%;
  }
}

/* For extra large devices (large laptops and desktops, 1200px and up) */
@media (min-width: 2096) {
  .btn.btn-danger {
    position: absolute;
    top: 110%;
    left: 90%;
    transform: translate(-50%, -50%); /* centers the button */
    font-size: 20px;
    width: 50%;

  }
}

/*Parallax*/
.parallax-section {
  border-top: 1px red solid;
  border-bottom: 1px red solid;

  /* The image used */
  background-image: url("./images/banner.png");

  /* Set a specific height */
  min-height: 40vh; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
  
/*Tiers*/

.full-screen-section {
  height: 100vh; /* Set height to 100% of viewport height */
}


.container.formsbottom {
  height: 100vh; /* Set height to 100% of viewport height */
}



/*Carousel*/
.col-sm-6.carousel  {  
    border: 3px red solid;
   
}

.col-sm-6.fullp {
    color: red;
    font-size: 3em;
    /*border: 3px rgb(8, 0, 246) solid;*/
  
}

 
.slide-in-text {
  transition: transform 2.0s ease-in;
  transform: translateX(-55%);
}

.slide-in-text.slide-in {
  transform: translateX(0);
}


.chart {
margin-top: 1000px;
margin-right: 20px;
width: 700px;
height:700px;

}

.sign {
  color: red;
  font-size:60px;
  text-shadow: 2px 2px 2px black;

}
.form-group {
  color: red;
  font-size:30px;
  text-shadow: 2px 2px 2px black;

}

.surlylogobottom {

  width: 200px;
  height:200px;
}



footer {
  border-top: 9px solid black;
  border-bottom: 9px solid black;
  background-color: #e10404;
  padding: 20px 0;
}

.footer-links {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: flex-end;
}

.footer-links li {
  margin-left: 20px;
}

.footer-links li:first-child {
  margin-left: 0;
}

#map{
  border: 3px solid black;
 
}

.pp {
  font-size: 14px;
  margin-top: 40px;
  color:black;
  font-weight: bold;
}