
body, html {

  height: 100%;
  margin: 0%;
  background-image: url("./images/blackbg.png");
  background-size: cover; 

}



.fullpage {
  /* The image used */
  background-image: url("./images/brickwallbg.png");
  
  /* Full height */
  height: 100%;
 /*Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.background {
  background-image: url("./images/blackbg.png");
  background-size: cover; 
}









 /* #jumbot {
 background-image: url("./images/banner.png");
 background-size: cover; 
 background-image: url("./images/banner.png");

 
 height: 100%;
}  

#formf {
    border: 2px solid black;
}

.listPoints
{
    font-size: 30px;
    color: darkgoldenrod;
    text-align: center;
}

#animals
{
    text-align: right;
}

button
{
    color: darkgoldenrod;
    margin: 20px;
}


 

table {
    text-align: left;
    position: relative;
    border-collapse: collapse; 
    background-color: #f6f6f6;
 
  td, th {
    border: 1px solid #999;
    padding: 20px;
  }
  th {
    background: brown;
    color: white;
    border-radius: 0;
    position: sticky;
    top: 0;
    padding: 10px;
  }
  .primary{
    background-color: #000000
  }
  
  tfoot > tr  {
    background: black;
    color: white;
  }
  tbody > tr:hover {
    background-color: #ffc107;
  }
  */